
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="prophold">
        <a href="/fabrics/<%= fabric.id %>">
          <img src="<%= fabric.fabricimage %>" class="img-fluid">
        </a>
        <p style="text-align: left;  margin-top: 10px; margin-bottom: 0;">
        	<span style="font-weight: 500; font-size: 18px;"><%= fabric.title %></span><br>
        	<span style="font-weight: 300; font-size: 12px;"><%= fabric.price %></span><br>
        </p>

        <% if fabric.ctype == "kente" %>
          <p>
            <span>Price</span><br>
            <span>$ <%= (fabric.fabprice / 5.1).round(1) %></span> <span style="font-size: 12px;"> Female price</span>
            <br>
          <span>$ <%= (fabric.maleprice / 5.1).round(1) %> <span style="font-size: 12px;"> Male price</span></span></p>
        <% else %>
        <p>
          <span>$ <%= (fabric.fabprice / 5.1).round(1) %> </span> <span style="font-size: 12px;">Price</span>
          <span style="font-size: 12px;">
            <% if fabric.ctype == "cloth" %>
             / yard
            <% end %>
          </span>
        </p>
        <% end %>

        <!-- 
        <%= link_to 'Destroy', fabric, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Edit', edit_fabric_path(fabric) %> 
        -->
        <p style="text-align: right;  margin-top: 0px; display: none;">
        	<a class="btn btn-warning bookbtn" data-toggle="modal" href="#bookTourModal_<%= fabric.id %>">Request for this Fabric</a>
        </p>
      </div>
    </div>

    <div class="modal fade" id="bookTourModal_<%= fabric.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Provide your valid details.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for(@request) do |f| %>
        <%= hidden_field_tag :fabric_id, fabric.id %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label style="font-weight: 500;">Email</label>
    <%= f.text_field :name, :class => "form-control", :placeholder => "Your name." %>
  </div>

  <div class="form-group">
    <label style="font-weight: 500;">Email</label>
    <%= f.text_field :email, :class => "form-control", :placeholder => "Your email." %>
  </div>

  <div class="form-group">
    <label style="font-weight: 500;">Phone Number</label>
    <%= f.text_field :phonenumber, :class => "form-control", :placeholder => "Your phone number." %>
  </div>

<% if fabric.ctype == "kente" %>
  <div class="form-group">
    <label style="font-weight: 500;">For Male / Female</label>
    <br>
    <span>
    <input type="radio" name="request[gender]" id="request_gender" value="male"/>
    Male
    <input type="radio" name="request[gender]" id="request_gender" value="female"/>
    Female
    </span>
    <div id="ValidationError" name="ValidationError" style="color: red;">
    
    </div>
  </div>

  <% end %>

  <% if fabric.ctype == "cloth" %>

  <div class="form-group">
    <label style="font-weight: 500;">How many yards of cloth</label>
    <select class="form-control" name="request[yards]" id="request_yards">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
  </select>
  </div>

  <% end %>

  <p style="margin-top: 10px; font-weight: 500;"> Your prefered payment method.</p>
  <input type="radio" name="request[paymentmethod]" id="request_paymentmethod" name="order[delivery]"value="Mobile Money" onclick="calculateTotal()" />
  <label><span style="margin-right: 5px;">Mobie Money</span></label>

  <input type="radio" name="request[paymentmethod]" id="request_paymentmethod" value="cashapp" onclick="calculateTotal()" />
  <label><span style="margin-right: 5px;">pay with Cash App</span></label>
<br>

<p style="margin-top: 10px; font-weight: 500;">Your prefered delivery method.</p>
  <input type="radio" name="request[deliverydet]" id="request_deliverydet" value="Deliver to location" onclick="calculateTotal()" />
  <label><span style="margin-right: 5px;">Deliver to your location</span></label>

    <input type="radio" name="request[deliverydet]" id="request_deliverydet" value="Pick up from Shop" onclick="calculateTotal()" />
  <label><span style="margin-right: 5px;">DHL / Express delivery</span></label>
<br>

  
  <div class="field" style="display: none;">
    <%= f.label :fabric_id %>
    <%= f.number_field :fabric_id %>
  </div>

  
  
      </div>
      <div class="modal-footer">
        <input type="submit" value="Submit" onclick="return Validate();" />
      </div>
    <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
function Validate() {
    var radios = document.getElementsByName('request[gender]')

    for (var i = 0; i < radios.length; i++) {
        if (radios[i].checked) {
        // alert("Selected Value = " + radios[i].value);
        return true; // checked
    }
    };

    // not checked, show error
    document.getElementById('ValidationError').innerHTML = 'Please select a gender type!';
    return false;
}
</script>