<%= form_for(fabric) do |f| %>
  <% if fabric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fabric.errors.count, "error") %> prohibited this fabric from being saved:</h2>

      <ul>
      <% fabric.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :fabricimage %>
    <%= f.file_field :fabricimage, :class => "form-control" %>
  </div>


  <div class="form-group">
    <%= f.label :price %>
    <%= f.number_field :fabprice, :class => "form-control" %>
  </div>

  <div class="form-group">
    <select class="form-control" name="fabric[ctype]" id="fabric_ctype" onchange="calculateTotal()" required>
    <option value="kente" name="fabric[ctype]" id="fabric_ctype">Kente Cloth</option>
    <option value="cloth" name="fabric[ctype]" id="fabric_ctype">Fabric Cloth</option>
    <option value="fascinator" name="fabric[ctype]" id="fabric_ctype">Fascinator</option>
  </select>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
