<%= form_for(productorder) do |f| %>
  <% if productorder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(productorder.errors.count, "error") %> prohibited this productorder from being saved:</h2>

      <ul>
      <% productorder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fabric_id %>
    <%= f.number_field :fabric_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :yardsnumber %>
    <%= f.number_field :yardsnumber %>
  </div>

  <div class="field">
    <%= f.label :yardtype %>
    <%= f.text_field :yardtype %>
  </div>

  <div class="field">
    <%= f.label :sewornot %>
    <%= f.text_field :sewornot %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
