<p id="notice"><%= notice %></p>

<h1>Productorders</h1>

<table>
  <thead>
    <tr>
      <th>Fabric</th>
      <th>User</th>
      <th>Yardsnumber</th>
      <th>Yardtype</th>
      <th>Sewornot</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productorders.each do |productorder| %>
      <tr>
        <td><%= productorder.fabric_id %></td>
        <td><%= productorder.user_id %></td>
        <td><%= productorder.yardsnumber %></td>
        <td><%= productorder.yardtype %></td>
        <td><%= productorder.sewornot %></td>
        <td><%= link_to 'Show', productorder %></td>
        <td><%= link_to 'Edit', edit_productorder_path(productorder) %></td>
        <td><%= link_to 'Destroy', productorder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Productorder', new_productorder_path %>
