<h2>Confirmation</h2>

<p><%= @order.fabric_id %></p>

<p><%= @order.number %></p>

<p><%= @order.paymentoptions %></p>

 <div class="field">
    <%= f.label :accept %>
    <%= f.check_box :accept %>
  </div>